<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>STEP 1 OF 3</p>
    <h1>Create a password to start <br>
    your membership</h1>
    <p>Just a few more steps and you're done!<br>
    We hate paperwork,too.</p>
    <form action="" method="POST">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Add a password">
        <input type="submit" name="submit" id="submit" value="Next">
    </form>
</body>
</html>